*~
*.zip
*.aux
*.log
*.out
*.pdf
auto/
\#*
.#*
*.fdb_latexmk
*.fls
cv_snippet.txt
resume.org
MiscSections/coverletter_BACKUP_7836.tex
MiscSections/coverletter_BASE_7836.tex
MiscSections/coverletter_LOCAL_7836.tex
MiscSections/coverletter_REMOTE_7836.tex
*.gz
jobpost
Resources/PII.tex